@{
    ViewData["Title"] = "Home Page";
}


@if ((int)ViewData["Start"] == 1){
    <table class="table">
        <tr style="background:#081645; color:#eee;">
            <th class="head"><h3>Jam / Hari</h3></th>
            <th class="head"><h3>Senin</h3>  </th>
            <th class="head"><h3>Selasa</h3>  </th>
            <th class="head"><h3>Rabu</h3>  </th>
            <th class="head"><h3>Kamis</h3>  </th>
            <th class="head"><h3>Jumat</h3>  </th>
        </tr>
        @{ 
            for (int i = 7; i < 18; i++)
            {
                    <tr >
                    @for (int j = 0; j < 6; j++)
                    {
                        @if (j == 0)
                        {
                            if (i < 9)
                            {
                                <th><h3>@("0" + i.ToString() + ".00 " + "-" + "0" + (i + 1).ToString() + ".00")</h3></th>
                            }
                            else if (i == 9)
                            {
                                <th><h3>@("0" + i.ToString() + ".00 " + "-" + (i + 1).ToString() + ".00")</h3></th>
                            }
                            else
                            {
                                <th><h3>@(i.ToString() + ".00 " + "-" + (i + 1).ToString() + ".00")</h3></th>
                            }
                        }
                        else
                        {
                            <td>
                                <ul id=@(j.ToString() + i.ToString()) class="sortable-list">
                                    @if ((int)@ViewData["marker" + i.ToString() + j.ToString()] == 0)
                                    {
                                        int temp;
                                        int.TryParse((string)@ViewData["kelas" + i.ToString() + j.ToString()], out temp);
                                        <li class=@ViewData["color" + (temp % 8).ToString()] >
                                           <h3>
                                               @ViewData["nama" + i.ToString() + j.ToString()] - 
                                               @ViewData["ruangan" + i.ToString() + j.ToString()]
                                           </h3>
                                        </li>
                                     }
                                     
                                    //Kasus Konflik
                                     else if ((int)@ViewData["marker" + i.ToString() + j.ToString()] == 1)
                                     {
                                        String[] ListNama = @ViewData["nama" + i.ToString() + j.ToString()].ToString().Split(' ');
                                        String[] ListRuangan = @ViewData["ruangan" + i.ToString() + j.ToString()].ToString().Split(' ');
                                        var ListItem = ListNama.Zip(ListRuangan, (n, r) => new { Nama = n, Ruangan = r });
                                        foreach (var item in ListItem)
                                        {
                                            <li id=@ViewData["nama" + i.ToString() + j.ToString()]  class="red">
                                                <h4>
                                                     @item.Nama - 
                                                     @item.Ruangan
                                                </h4>
                                            </li>

                                                    }
                                                }
                                                else if ((int)@ViewData["marker" + i.ToString() + j.ToString()] == 2)
                                                {
                                                    String[] ListNama = @ViewData["nama" + i.ToString() + j.ToString()].ToString().Split(' ');
                                                    String[] ListRuangan = @ViewData["ruangan" + i.ToString() + j.ToString()].ToString().Split(' ');
                                                    String[] ListKelas = @ViewData["kelas" + i.ToString() + j.ToString()].ToString().Split(' ');
                                                    var ListItem = ListNama.Zip(ListRuangan, (n, r) => new { Nama = n, Ruangan = r });


                                                    int c = 0;
                                                    foreach (var item in ListItem)
                                                    {
                                                        int kelas;
                                                        //t.TryParse(ListKelas[c], out kelas);
                                            <li id=@ViewData["nama" + i.ToString() + j.ToString()] class=@ViewData["color" + (c % 8).ToString()]>
                                                <h3>
                                                    @item.Nama - 
                                                    @item.Ruangan
                                                </h3>
                                            </li>
                                            c++;
                                        }

                                    }
                                    <li id="null" class="default"></li>
                                    <li id="null" class="default"></li>
                                </ul>
                            </td>
                        }
                    }
                    </tr>
                }
            }
</table>


    
<h3 id="konflik"><b>Jumlah konflik yang ada:</b> @ViewData["tes"]</h3>    
<br />    
<h3><b>Efektivitas</b></h3>    
int nRuangan = Convert.ToInt32(@ViewData["banyakruangan"]);    
for (int n = 0; n < nRuangan; n++)    
{
    <h3> Ruangan @ViewData["namaruangan" + n.ToString()] : @ViewData["efektifitas" + n.ToString()] %</h3>   
}    
    <h3> Total Efektifitas : @ViewData["efektifitastotal"] %</h3>
            <h3>Pilihan algoritma: @ViewData["Choice"]</h3>    
}    
<br />


<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" style="text-align: center;">
            <form method="post" asp-action="Index" asp-controller="Home" enctype="multipart/form-data">
                <input  style="margin: 0 0 50px 150px" type="file" name="files" />
                <div style="margin: 0 0 50px 0">
                <input type="radio" id="choice1" name="choice" value="0" checked="checked" />
                <label  style="margin: 0 30px 0 0" for="choice1"><span>Hill Climbing</span></label>
                <input type="radio" id="choice2" name="choice" value="1" />
                <label  style="margin: 0 30px 0 0" for="choice2"><span>Simulated Annealing</span></label>
                <input type="radio" id="choice3" name="choice" value="2" />
                <label  for="choice3"><span>Genetic Algorithm</span></label>
                </div><br />
                <input type="submit" class="btn-success btn btn-primary btn-lg" value="Upload" />
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
